html{
    width:100%;
    height:100%;
}

body {
    display: flex;
    height:100%;
    width:100%;
    &::before {
        content: 'Just draw';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font: bold 50px/1 Arial, sans-serif;
        text-transform: uppercase;
        color: #DDD;
    }
}

html,body,#canvas-container{
    overflow:hidden;
}

canvas {
    position: relative;
}

#blendModes {
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    font-size: 16px;
    display:none;
}

#clear {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
}

#tools-div{
    width:80px;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    border-right: solid 1px;
    border-color: rgba(100,100,100,0.4);
}

#tools-div div{
    height:80px;
    width:100%;
    position: relative;
    float:left;
    text-align: center;
    line-height: 80px;
    border-bottom: solid 1px;
    border-color: rgba(100,100,100,0.2);
}

#localVideo{
    width:50px;
    height:auto;
    position:fixed;
    right: 10px;
    top:10px;
}

#remoteVideo{
    width:500px;
    height:auto;
    position:fixed;
    right: 10px;
    top:10px;
    border:solid rgba(100,100,100,0.2) 1px;
}

#videoButtons{
    background-color: rgb(200,50,50);
    opacity: 0.0;
    width:100px;
    height:50px;
    position: fixed;
    top:10px;
    right:10px;
    display:none;
}