<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Prueba Sergio Baquero</a>
		</div>
		<ul class="nav navbar-nav nav-pills">
			<li class="nav-item dropdown">
				<a
				class="nav-link dropdown-toggle" data-toggle="dropdown"
				href="asset/home" aria-haspopup="true"
				aria-expanded="false">Activos <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li class="dropdown-item"><a href="../asset/add">Crear</a></li>
					<li class="dropdown-item"><a class="dropdown-item"
						href="../asset/update">Actualizar</a></li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item"><a class="dropdown-item"
						href="../asset/record">Buscar</a></li>
				</ul></li>
			<li class="nav-item"><a class="nav-link" href="../area/home">Areas</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="../person/home">Personas</a>
			</li>
		</ul>
	</div>
</nav>